services:
  postgres:
    image: postgres:17.4-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: main_db
      DB_PORT: 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # - ./db-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: main_db
      DB_PORT: 5432
    ports:
      - "8080:8080"
    volumes:
      - .:/backend
      - ./web:/backend/web:ro
    depends_on:
      postgres:
        condition: service_healthy
  ollama:
    image: ollama/ollama:latest
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "11434:11434"

volumes:
  postgres_data:
  ollama_data:
